<div class="row center-align">
    <div class="s12">
        <h1>Login Page</h1>
        <div class="card">
            <form role="form">
                <div class="card-content">
                    <div>
                        <input type="email" class="input-field" ng-model="vm.email" placeholder="Email">
                        <input type="password" class="input-field" ng-model="vm.password" placeholder="Password">
                    </div>
                </div>
                <div class="card-action">
                    <div>
                        <button ng-click="vm.loginToApi()" class="waves-effect red lighten-2 waves-light btn">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>